<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Training</title>
</head>
<body>
    <h2>Python Innovation Training </h2>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css", href='{%static "FIRSTAPPLICATION/style.css"%}'>

<h1>Python Modules</h1>
<ul>
  <li>Introduction to Python</li>
  <li>Statements & Looping in Python</li>
  <li>Data Structures & Functions</li>
  <li>Exceptions & File Handling</li>
  <li>Object Oriented Concepts</li>
  <li>Optimization</li>
</ul>
<br>
<h1>Django Modules</h1>
<ul>
  <li>Introduction to Django</li>
  <li>Django Essentials</li>
  <li>Introduction to MVC Architecture</li>
  <li>Object Relational Mapping</li>
  <li>Django Forms</li>
  <li>Django REST</li>
  <li>Django Advance</li>
</ul>
<br>
<h1>Miscellaneous Modules</h1>
<ul>
  <li> Introduction to Data Science</li>
  <li>Version Control System</li>
</ul>

</body>
</html>